#container {
   background-color: lightgray;
   min-height: 150px;
   max-height: 400px;
   overflow: auto;
   margin: 50px;
   padding: 10px 20px;
   font-size: 17px;
   line-height: 1.3em;
}

p, h2 {
   text-align: center;
}
