
/* app-announcement {
   margin-top: 60px;
   padding-top: 60px;
} */

body {
   font-family: Helvetica, Arial, sans-serif;
}

header {
   height: 20px;
   margin-bottom: 20px;
}

nav > a {
   float: right;
   margin: 5px 20px;
}

nav > a:first-child {
   float: left;
}

main {
   margin: auto;
   max-width: 1400px;
   /* width: 60%; */
   
}